In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("diabetes (1).csv")
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

Display Top 5 Rows of the Dataset

In [3]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

Display Last 5 Rows of Dataset

In [4]:
data.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

Shape of the Dataset(No.of Rows and Columns)

In [5]:
data.shape

(768, 9)

In [6]:
print("Number of rows:",data.shape[0])
print("Number of columns:",data.shape[1])

Number of rows: 768
Number of columns: 9

Information of our Dataset

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

Checking null values in our Dataset

In [8]:
data.isnull() #it gives in boolean
#False indicates - not Missing , True indicates - Missing

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
763,False,False,False,False,False,False,False,False,False
764,False,False,False,False,False,False,False,False,False
765,False,False,False,False,False,False,False,False,False
766,False,False,False,False,False,False,False,False,False
767,False,False,False,False,False,False,False,False,False

Check the count of null values in each column

In [9]:
data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

Get overall Statistics About the Dataset

In [10]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [11]:
import numpy as np

In [12]:
data_copy = data.copy(deep = True)
"""here deep=true indicates that it copies all the nested structures with it"""

'here deep=true indicates that it copies all the nested structures with it'

In [13]:
data.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

Replacing the zero values ie Nan values with Mean (or) Median

In [14]:
data_copy[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI']]=data_copy[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI']].replace(0,np.nan)

In [15]:
data_copy.isnull().sum() #as you can see Column like Gluscose having 5 0's,BP 35 0's

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

Replacing the zero's with Mean

In [16]:
data['Glucose']=data['Glucose'].replace(0,data['Glucose'].mean())
data['BloodPressure']=data['BloodPressure'].replace(0,data['BloodPressure'].mean())
data['SkinThickness']=data['SkinThickness'].replace(0,data['SkinThickness'].mean())
data['Insulin']=data['Insulin'].replace(0,data['Insulin'].mean())
data['BMI']=data['BMI'].replace(0,data['BMI'].mean())

Store Feature Matrix in X and Target in vector y

In [17]:
X=data.drop('Outcome',axis=1)
y=data['Outcome']

In [18]:
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148.0,72.0,35.000000,79.799479,33.6,0.627,50
1,1,85.0,66.0,29.000000,79.799479,26.6,0.351,31
2,8,183.0,64.0,20.536458,79.799479,23.3,0.672,32
3,1,89.0,66.0,23.000000,94.000000,28.1,0.167,21
4,0,137.0,40.0,35.000000,168.000000,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.000000,180.000000,32.9,0.171,63
764,2,122.0,70.0,27.000000,79.799479,36.8,0.340,27
765,5,121.0,72.0,23.000000,112.000000,26.2,0.245,30
766,1,126.0,60.0,20.536458,79.799479,30.1,0.349,47
767,1,93.0,70.0,31.000000,79.799479,30.4,0.315,23

In [19]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Splitting the Dataset into Training Set and Testing Set

In [20]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=42)

Scikit-Learn Pipeline

In [21]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.pipeline import Pipeline

In [22]:
pipeline_lr=Pipeline([('Scalar1',StandardScaler()),('lr_Classifier',LogisticRegression())])
pipeline_knn=Pipeline([('Scalar2',StandardScaler()),('Knn_Classifier',KNeighborsClassifier())])
pipeline_svc=Pipeline([('Scalar3',StandardScaler()),('SVC_Classifier',SVC())])
pipeline_tree=Pipeline([('Scalar4',StandardScaler()),('Dt_Classifier',DecisionTreeClassifier())])
pipeline_Rf=Pipeline([('Scalar5',StandardScaler()),('Rf_Classifier',RandomForestClassifier(max_depth=3))])
pipeline_gbc=Pipeline([('Scalar6',StandardScaler()),('Gbc_Classifier',GradientBoostingClassifier())])

In [23]:
pipelines=[pipeline_lr,pipeline_knn,pipeline_svc,pipeline_tree,pipeline_Rf,pipeline_gbc]

In [24]:
pipelines

[Pipeline(steps=[('Scalar1', StandardScaler()),
                 ('lr_Classifier', LogisticRegression())]),
 Pipeline(steps=[('Scalar2', StandardScaler()),
                 ('Knn_Classifier', KNeighborsClassifier())]),
 Pipeline(steps=[('Scalar3', StandardScaler()), ('SVC_Classifier', SVC())]),
 Pipeline(steps=[('Scalar4', StandardScaler()),
                 ('Dt_Classifier', DecisionTreeClassifier())]),
 Pipeline(steps=[('Scalar5', StandardScaler()),
                 ('Rf_Classifier', RandomForestClassifier(max_depth=3))]),
 Pipeline(steps=[('Scalar6', StandardScaler()),
                 ('Gbc_Classifier', GradientBoostingClassifier())])]

In [25]:
for pipe in pipelines:
    pipe.fit(X_train,y_train)

In [26]:
pipe_dictionary={0:'Lr',1:'KNN',2:'SVC',3:'DT',4:'RF',5:'GBC'}

In [27]:
pipe_dictionary

{0: 'Lr', 1: 'KNN', 2: 'SVC', 3: 'DT', 4: 'RF', 5: 'GBC'}

In [28]:
for i,model in enumerate(pipelines):
    print("{} Test Accuracy:{}".format(pipe_dictionary[i],model.score(X_test,y_test)*100))

Lr Test Accuracy:76.62337662337663
KNN Test Accuracy:76.62337662337663
SVC Test Accuracy:73.37662337662337
DT Test Accuracy:70.77922077922078
RF Test Accuracy:79.22077922077922
GBC Test Accuracy:75.97402597402598

In [29]:
from sklearn.ensemble import RandomForestClassifier

In [30]:
rf = RandomForestClassifier(max_depth=3)

In [31]:
rf.fit(X,y)

RandomForestClassifier(max_depth=3)

Prediction on New Data

In [32]:
new_dta=pd.DataFrame({
    'Pregnancies':6,
    'Glucose':148.0,
    'BloodPressure':72.0,
    'SkinThickness':35.0,
    'Insulin':79.799479,
    'BMI':33.6,
    'DiabetesPedigreeFunction':0.627,
    'Age':50
},index=[0])

In [33]:
z=rf.predict(new_dta)

In [34]:
if z[0]==0:
    print("NON-DIABETIC")
else:
    print("DIABETIC")

DIABETIC

Save Model Using Joblib

In [35]:
import joblib

In [36]:
joblib.dump(rf,'Model_Joblib_Diabetes')

['Model_Joblib_Diabetes']

In [37]:
model=joblib.load('Model_Joblib_Diabetes')

In [40]:
model.predict(new_dta) # 1-Diabetic

array([1], dtype=int64)